// B-footer
div.register-tip.ani1
  a(href="http://www.qiakr.com/admin/open_datum.htm" target="_blank" style="display:block; height: 100%;")
footer.qkr-footer#contact
  .footer-download
    .container
      .row
        .col-md-2.col-md-offset-3
          img.qrcode-btm(src="http://static.qiakr.com/admin/qk_app_qrcode.png?v=1")
          br
          | 下载体验洽客APP
        .col-md-2
          img.qrcode-btm(src="http://static.qiakr.com/admin/qk_store_qrcode.png")
          br
          | 体验洽客微商城
        .col-md-2
          img.qrcode-btm(src="http://static.qiakr.com/admin/qk_wx_qrcode.png")
          br
          | 关注洽客公众号
  p.footer-copyright.text-center
    | 杭州蚁国科技有限公司&emsp;|&emsp;浙ICP备14041692号
div#outdated
  h6
    | 您目前使用的浏览器该进博物馆啦~~~
  p
    | 为了更佳的浏览体验，请使用现代浏览器访问本站。
    a#btnUpdateBrowser(href="http://outdatedbrowser.com/cn")
      | 现在升级
  p.last
    a(href="#" id="btnCloseUpdateBrowser" title="关闭")
      | &times;
// E-footer