script(src="//static.qiakr.com/plugins/outdatedBrowser.min.js")
script(src="//static.qiakr.com/plugins/jquery2.0.min.js")
script(src="//static.qiakr.com/plugins/bootstrap.min.js")
script(src="//static.qiakr.com/plugins/outdatedBrowser.min.js")
//- script(src="//static.qiakr.com/plugins/jquery.stellar.min.js")
//- script(src="//static.qiakr.com/plugins/scrollReveal.js")
//- script(src="//static.qiakr.com/plugins/jquery.twbsPagination.js")
script(src="//static.qiakr.com/js/artTemplate.js")
script(src="/home/js/base.js")

//- script(src="http://static.qiakr.com/source/video/video.min.js")

