link(rel="stylesheet" href="//static.qiakr.com/plugins/pace.css")
link(rel="stylesheet prefetch" href="//static.qiakr.com/admin/bootstrap.min.css")
link(rel="stylesheet" href="//static.qiakr.com/plugins/outdatedBrowser.min.css")
link(rel="stylesheet" href="//static.qiakr.com/website/index.min.css?v=1")
	
script(src="//static.qiakr.com/plugins/pace.js")
script(src="//static.qiakr.com/js/modernizr_webp_shiv.js")


script.
	var _hmt = _hmt || []; (function() {var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?0ae38da02c36d427b45394d1982689c8"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();