extends ../../layout/home

block content
	div.
		<div class="about-wrap">
			<div class="center1080">
				<table class="abTab">
					<tr>
						<th>
							<span class="tit">WHO</span><br>
							我们是谁？<br>
							我们为谁服务？
						</th>
						<td>
							洽客（Qiakr）隶属于杭州蚁国科技有限公司<br>
							是一家基于移动互联网,为传统零售企业提供创新型服务的公司<br>
							我们为线下实体零售商提供创新的零售方式
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">WHAT</span><br>
							实现什么？
						</th>
						<td>
							通过帮助导购员更好的服务消费者，实现实体零售店的店效提升
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">HOW</span><br>
							如何做？
						</th>
						<td>
							建立消费者和导购员的可持续连接<br>
							提升导购的成长空间，激发潜能<br>
							让企业真正了解消费者的需求<br>
							使消费者感受到更好的服务
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">VISION</span><br>
							我们的愿景
						</th>
						<td>
							让零售更有人性的温暖
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">MISSION</span><br>
							我们的使命
						</th>
						<td>
							优化传统零售生态圈
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">Team</span><br>
							团队介绍
						</th>
						<td>
							我们拥有“互联网”和“实体零售”的双重基因<br>
							我们相信小小的身躯也会有惊人的爆发力<br>
							我们是一群充满激情和梦想的“蚂蚁”<br>
							我们已经获得资本的青睐
						</td>
					</tr>
					<tr>
						<th>
							<span class="tit">CULTURE</span><br>
							团队文化
						</th>
						<td>
							义聚、利合、梦远<br>
							相互成就、共创共享
						</td>
					</tr>
					<tr>
						<th style="vertical-align:top;">
							<span class="tit">CONTACT</span><br>
							联系我们
						</th>
						<td>
							<div class="address">
								<h3>洽客（杭州）总部</h3>
								电话：0571-88721785
								<br>
								邮箱：eleven@qiakr.com
								<br>
								地址：浙江省杭州市余杭区文一西路未来科技城海创园19栋203
							</div>
							<div class="mapWrap" id="mapHangzhou" >
								<img src="http://static.qiakr.com/admin/qk_address.jpg" width="451" height="199">
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<div class="address">
								<h3>洽客华南（广州）分公司</h3>
								电话：020-84121287
								<br>
								邮箱：huagnzhixu812@qiakr.com
								<br>
								地址：广东省广州市海珠区广州大道南448号财智大厦806
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<div class="address">
								<h3>洽客华中（武汉）分公司</h3>
								电话：027-59377795
								<br>
								邮箱：lucia@qiakr.com
								<br>
								地址：湖北省武汉市江汉区青年路328号元辰国际B1座2403
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<div class="address">
								<h3>江西分公司</h3>
								电话：0791-83899239
								<br>
								邮箱：wuyang@qiakr.com
								<br>
								地址：南昌市红谷滩新区万达广场A5写字楼1221
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<div class="address">
								<h3>成都分公司</h3>
								电话：15928426575
								<br>
								邮箱：zhangqihao@qiakr.com 
								<br>
								地址：成都市总府路王府井大厦B座10FA室
							</div>
						</td>
					</tr>

				</table>
			</div>
		</div>

block script
	script.
		Utils.fixedHeader();