extends ../../layout/home

block content
	div.
		<div class="facilitator-wrap">
		    <section style="background-color: #E55650;">
		      <div class="center-block" style="position: relative;">
		        <div class="facilitator-banner">
		          <img src="http://static.qiakr.com/admin/facilitator_banner.jpg?v=1" alt="">
		        </div>
		        <div class="facilitator-banner-txt">
		          <p class="flt-txt">为了更好地服务于商家，让商家更好更快地完成传统电子商务升级，洽客正式启动服务商招募计划，让专业的人做专业的事，让对零售行业有深刻认知和服务经验的人来提升零售升级速度，为零售商家创造更多价值。</p>
		          <div class="text-center"><a href="http://form.mikecrm.com/f.php?t=z9DVR0" target="_blank" class="btn btn-apply-flt">申请成为服务商</a></div>
		        </div>
		      </div>
		    </section>

		    <section class="floor-item">
		      <div class="center1080 text-center">
		        <h3 class="ft-tit"><i></i>入驻资质</h3>
		        <div>
		          <img src="http://static.qiakr.com/admin/facilitator_img1.png?v=1" alt="">
		        </div>
		      </div>
		    </section>

		    <section class="floor-item">
		      <div class="center1080 text-center">
		        <h3 class="ft-tit"><i></i>入驻流程</h3>
		        <div>
		          <img src="http://static.qiakr.com/admin/facilitator_img2.png?v=1" alt="">
		        </div>
		      </div>
		    </section>

		    <section class="floor-item">
		      <div class="center1080 text-center">
		        <h3 class="ft-tit"><i></i>服务商支持体系</h3>
		        <div>
		          <img src="http://static.qiakr.com/admin/facilitator_img3.png?v=1" alt="">
		        </div>
		      </div>
		    </section>

		    <section class="floor-item">
		      <div class="center1080 text-center">
		        <h3 class="ft-tit"><i></i>服务内容</h3>
		        <div>
		          <img src="http://static.qiakr.com/admin/facilitator_img4.png?v=2" alt="">
		        </div>
		      </div>
		    </section>
		    <section class="floor-item">
		      <div class="center1080 text-center">
		        <h3 class="ft-tit"><i></i>服务商服务形式</h3>
		        <div>
		          <img src="http://static.qiakr.com/admin/facilitator_img5.png?v=1" alt="">
		        </div>
		      </div>
		    </section>
		    <div class="center1080">
		      <p style="background-color: #F3F3F3; padding: 20px; text-align: center; margin: 0;">
		        <b style="color:red;">*</b> 以上内容仅供参考，详情请咨询服务商/相关人员，其更多问题请联系：李女士 0571-88635605<br>
		      </p>
		    </div>
		    <div>
		      <div class="text-center apply-box mb100">
		        <a href="http://form.mikecrm.com/f.php?t=z9DVR0" target="_blank" class="btn btn-apply-qkr">申请成为服务商</a>
		      </div>
		    </div>
		</div>

block script
	script.
		Utils.realseHeader();