extends ../../layout/home

block content
	div.
		<div class="join-wrap">
			<div class="join-banner">
				<img class="joinus-banner" src="http://static.qiakr.com/home/join2.png">
				<div class="joinus-txt">
					<p>我们是谁？</p>
					<p>我们是一家创新型零售服务公司。</p>
					<p>洽客是一个基于移动互联网为传统零售企业</p>
					<p>提供服务的平台。通过帮助导购员更好的服务</p>
					<p>消费者，实现实体零售店的店效提升</p>
					<br>
					<p>纯粹，办公室政治无生存空间</p>
					<p>我们只会在白板上就事论事，快速执行</p>
					<br>
					<p>火箭般的速度，业务增长注解</p>
					<p>我们正以每月翻一番的速度，往前奔跑</p>
					<br>
					<p>健康，高筑墙广积粮</p>
					<p>我们已经获得资本市场的青睐，资金充足</p>
					<br>
					<p class="tit">不用犹豫！直接发送简历到</p>
					<p class="mail">hr@qiakr.com</p>
				</div>
			</div>
			<div class="join-con">
				<div>
					<div class="jobList">
						<ul>
							<li class="tit">研发</li>
							<li><a href="#fp">前端工程师</a></li>
							<li><a href="#java">Java高级开发工程师</a></li>
							<li><a href="#android">Android开发工程师</a></li>
							<li><a href="#ios">iOS开发工程师</a></li>
							<li><a href="#qaFloor">QA</a></li>
						</ul>
						<ul>
							<li class="tit">产品</li>
							<li><a href="#ui">UI</a></li>
							<li><a href="#pd">PD</a></li>
						</ul>
					</div>
					<h5 id="fp">前端工程师</h5>
					<p class="tit">职位描述：</p>
					<p>1. 负责网站后台、手机终端界面交互开发；</p>
					<p>2. 负责建设前端系统架构；</p>
					<p>3. 负责前端代码性能优化。<p>
					<p class="tit">职位要求：</p>
					<p>1. 喜欢阅读英文技术文档和书籍；</p>
					<p>2. HTML、CSS、JavaScript基础扎实、了解HTTP协议以及Ajax相关技术原理；</p>
					<p>3. 熟悉Backbone，以及web app开发经验。有Angular.js或Ember.js经验优先；</p>
					<p>4. 了解AMD/CMD规范；</p>
					<p>5. 了解Node.js，PHP，Java等后端语言中至少一种。</p>

					<h5 id="java">Java高级开发工程师</h5>
					<p class="tit">职位描述：</p>
					<p>1. 主持或参与业务系统逻辑模型和物理模型设计并实现原型；</p>
					<p>2. 与产品一起分析与响应需求，并完成相应功能特性的开发调试、部署上线以及监控。</p>
					<p class="tit">职位要求：</p>
					<p>1. java经验丰富，能熟练使用spring mvc、mybatis、velocity,有丰富的MySQL等关系型数据库开发经验，有NoSQL（至少是redis）经验者从优； </p>
					<p>2. 独立完成工作及解决bug，合理安排重构计划，不断提高产品的代码质量；</p>
					<p>3. 掌握基础的Web前端相关技术，js、html、css，对bootstrap有经验者优先考虑；</p> 
					<p>4. 熟悉Tomcat、Redis、Nginx、MySQL等在linux上的应用部署，了解这些工具的调配置；</p>
					<p>5. 会折腾Nginx者从优；</p>
					<p>6. 必须具有linux使用经验，熟悉bash环境；</p>
					<p>7. 有大用户量，大数据量网站建设相关经验，关注程序性能，关注数据库性能；</p>
					<p>8. 有好奇心，快速学习新技术，不解决问题不罢休；</p>

					<h5 id="android">Android开发工程师</h5>
					<p class="tit">职位描述：</p>
					<p>1. 负责洽客Android平台客户端的开发和维护。</p>
					<p class="tit">职位要求：</p>
					<p>1. 两年以上Android开发经验；</p>
					<p>2. 精通Android开发平台及框架原理，以及Android控件的使用，熟练掌握Android界面和交互开发;</p>
					<p>3. 对Android APP性能优化和内存优化有深入了解，熟练掌握Android平台下的代码调试和调优技术;</p>
					<p>4. 对终端产品的UI/UE有独到的见解与认识，追求良好的用户体验；</p>
					<p>5. 对软件产品有强烈的责任心，具备良好的沟通能力和优秀的团队协作能力；</p>
					<p>6. 能独立开发App，有成功发布App者优先。</p>

					<h5 id="ios">iOS开发工程师</h5>
					<p class="tit">职位描述：</p>
					<p>1. 负责洽客iOS平台客户端的开发和维护。</p>
					<p class="tit">职位要求：</p>
					<p>1. 两年以上iOS开发经验；</p>
					<p>2. 熟练掌握Objective-C，以及iOS SDK中UI、网络、数据库、XML/JSON解析等开发技巧，熟悉MAC OS X、Xcode开发环境；</p>
					<p>3. 智能手机爱好者和使用者，爱玩手机；</p>
					<p>4. 对终端产品的UI/UE有独到的见解与认识，追求良好的用户体验；</p>
					<p>5. 对软件产品有强烈的责任心，具备良好的沟通能力和优秀的团队协作能力；</p>
					<p>6. 能独立开发App，有成功发布App者优先。</p>

					<h5 id="qaFloor">QA</h5>
					<p class="tit">职位描述：</p>
					<p>1.独立编写测试计划，测试用例和测试报告；</p> 
					<p>2.负责产品功能和性能的测试工作； </p>
					<p>3.协助开发人员确认和跟踪bug； </p>
					<p class="tit">职位要求：</p>
					<p>1.三年以上软件测试经验，其中至少一年的性能测试经验； </p>
					<p>2.熟悉规范的项目流程、测试流程和bug管理流程，可提交规范的缺陷报告 ；</p> 
					<p>3.熟悉Linux的基本操作命令，熟练掌握SQL语句，熟练操作Mysql等数据库； </p>
					<p>4.熟悉BugFree、BugZilla、Mantis等bug管理工具的搭建和使用；</p>
					<p>5.至少熟悉一种性能测试工具，如LoadRunner、SoapUI、Jmeter等； </p>
					<p>6.有电商行业测试经验者优先，有软件开发经验者优先。</p>

					<h5 id="ui">UI</h5>
					<p class="tit">职位描述：</p>
					<p>1. 负责公司移动端以及网页端UI界面设计，为公司新产品与新功能提供创意及设计方案；</p>
					<p>2. 参与设计讨论，和开发团队共同创建用户界面，跟踪产品效果，提出设计改善方案；</p>
					<p class="tit">职位要求：</p>
					<p>1. 两年以上UI设计相关工作经验</p>
					<p>2. 熟练掌握相关设计软件，有手绘或插画经验者优先</p>
					<p>3. 熟悉产品项目流程，熟悉视觉设计规范</p>

					<h5 id="pd">PD</h5>
					<p class="tit">职位描述：</p>
					<p>1.为商家提供一个创新性的移动营销与交易平台；</p>
					<p>2.负责洽客商家平台产品的整体规划与实施，对商家平台的整体效果负责；</p>
					<p>3.从消费者需求角度出发，具有前瞻性地发掘移动平台上有价值的商家服务，并将其产品化；</p>
					<p>4.与运营部门紧密合作，共同推动商家提供更优质的移动购物服务。</p>
					<p class="tit">职位要求：</p>
					<p>1.三年以上电子商务产品经理工作经验；</p>
					<p>2.对电子商务有深入的了解，特别是在交易流程与商家服务方面；</p>
					<p>3.关注移动购物及其他无线互联网服务，能即使跟踪了解相关产品特性，并形成自己的判断；</p>
					<p>4.充满信心，能够持之以恒地去推动复杂且大规模的项目。</p>

					<div class="email-bottom">简历投递邮箱：<span>hr@qiakr.com</span></div>
				</div>
			</div>
		</div>

block script
	script.
		Utils.fixedHeader();