extends ../../layout/home

block content
	div.
		<div class="products-wrap">
		    <section class="pd-banner-box">
		      <div class="center1080 text-center">
		        <img src="http://static.qiakr.com/admin/productIntro_banner.png" alt="">
		      </div>
		    </section>
		    
		    <!-- 移动门店 -->
		    <section class="pd-store">
		      <div class="center1080 text-center">
		        <div class="mt120 mb100">
		          <h3 class="f30">移动门店</h3>
		          <p class="f24">消费者的身边店</p>
		        </div>
		        <div>
		          <img src="http://static.qiakr.com/admin/roductIntro_img2.png?v=1" alt="">
		        </div>
		      </div>
		    </section>

		    <section class="pd-app">
		      <div class="center1080 text-center">
		        <div class="mt120 mb100">
		          <h3 class="f30">洽客App</h3>
		          <p class="f24">高效的零售服务工具</p>
		        </div>
		        <div>
		          <img src="http://static.qiakr.com/admin/roductIntro_img1.png?v=1" alt="">
		        </div>
		      </div>
		    </section>

		    <section class="pd-platform">
		      <div class="center1080 text-center">
		        <div class="mt120 mb100">
		          <h3 class="f30">商家后台</h3>
		          <p class="f24">统一的管理协作平台</p>
		        </div>
		        <div>
		          <img src="http://static.qiakr.com/admin/roductIntro_img3.png?v=1" alt="">
		        </div>
		      </div>
		      <div class="center1080">
		        <div class="pd-platform-tip mb100">
		          <ul>
		            <li>完善的运营支持，完成任务树，get新技能</li>
		            <li>丰富的活动专题页模板，抢红包玩闪购，借力移动互联网让流量来得更轻松</li>
		            <li>通用API&SDK，轻松对接企业ERP/CRM/POS等多种管理系统</li>
		            <li>不同角色的权限管理，员工分权各尽其职</li>
		            <li>商品、订单、会员等数据多维度评估， 企业经营概况一目了然</li>
		          </ul>
		        </div>
		      </div>
		    </section>
		</div>

block script
	script.
		Utils.realseHeader();