doctype
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="Content-type" content="text/html;charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="Keywords" content="洽客,全渠道零售,实体零售,O2O,导购,门店管理")
        meta(name="description" content="结合实体店铺，给导购用的移动零售会员系统。建立导购与顾客的即时链接，有效管理门店的商品、订单、会员。让你的零售与消费者贴身而行，免费下载APP即刻感受。")
        link(rel="shortcut icon" href="http://static.qiakr.com/favicon.ico")
        title= title
        include ../includes/home/head_link
        link(rel="stylesheet" href="/home/css/school.css")
        block style
    body
        include ../includes/home/header_school
        // B-main
        main#pageMain.qk-main
            block content
        // E-main
        include ../includes/home/footer
        include ../includes/home/foot_link
        block script
  

